<!--Tela moderação N1 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Forum App</title>
    <link rel="shortcut icon" href="/images/forum-ico.png">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

        <div class="container">
      <div class="jumbotron mt-3">
        <h1>Topics</h1>
        <p class="lead">In the container below the forum topics and posts will be displayed</p>
        <a class="btn btn-lg btn-primary" href="/new_topic" role="button">New topic</a>
      </div>
      <div class="jumbotron mt-3">
       <label></label>
      <div>
    </div>

</body>

</html>