<!--Tela moderação N1 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Forum App</title>
    <link rel="shortcut icon" href="/images/forum-ico.png">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <!--<form action="/mensagem/delete" method="post" id="form_excluir">
        Name:<input type=text name="id" value="<%=  %>">
        <textarea name="comment" form="usrform">Enter text here...</textarea>
        
    </form>
    <div>
        <button class="btn edit-text" id="<%= %>">aaaaa</button>-->
    <div class="container">
        <div class="jumbotron mt-3">
            <h1>New topic</h1>
            <p class="lead">Create your topic below.</p>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Headline</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Description</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
            </form>
            <a class="btn btn-primary" href="" role="button">Save</a>
            <a class="btn btn-danger" href="/" role="button">Cancel</a>
        </div>
    </div>

</body>

</html>